name: CI

on: 
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]

jobs: 
    build:
        runs-on: ubuntu-latest
        
        services: 
            postgres: 
                image: postgres:15
                env:
                    POSTGRES_USER: postgres
                    POSTGRES_PASSWORD: 0921
                    POSTGRES_DB: usersdb
                ports:
                    - 5432:5432
                options:
                    --health-cmd="pg_isready -U postgres"
                    --health-interval=10s
                    --health-timeout=5s
                    --health-retries=5

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
            - name: Set up JDK 21
              uses: actions/setup-java@v4
              with:
                    java-version: '21'
                    distribution: 'temurin'
                    cache: 'gradle'
            - name: Grant execute permission for Gradle
              run: chmod +x gradlew
            - name: Build and run test
              env:
                SPRING_DATASOURCE_URL: jdbc:postgresql://localhost:5432/usersdb
                SPRING_DATASOURCE_USERNAME: postgres
                SPRING_DATASOURCE_PASSWORD: 0921
              run: ./gradlew clean build --no-daemon